.mobile-display {
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    border: var(--border-style);
    overflow: hidden;
}

.App {overflow: hidden;}

div.mobile-display > .top {
    height: 35vh;
    width: 100%;

    padding: 5vw;
}

@media screen and (max-width: 500px) {
    .mobile-display .after-logo {
        height: 20vw;
    }
    div.mobile-display .logo {
        transform-origin: top left;
        scale: calc(150% / calc( 768 / var(--window-width)));
    }
}

@media screen and (min-width: 500px) {
    .mobile-display .after-logo {
        height: 13vw;
    }
    div.mobile-display .logo {
        transform-origin: top left;
        scale: calc(100% / calc( 768 / var(--window-width)));
    }
}

p:not(.title) {
    margin: 0;
    font-size: 16px;
}

p.title {
    font-size: 18px;
}

.mobile-display .description {
    width: 88vw;
}

/*
 * 
 * Bottom
 *
 */

.mobile-display > .bottom {
    --split-dimension: 50%;

    transform-origin: 50% 3%;
    transform: rotate(-20deg) translate(-7vw, 2vh);
    width: 110vw;
}

div.bottom > .link-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.bottom > .content-list {
    border-top: var(--border-style);
    width: 100%;
    height: 150vw;
}

.content-list > .left {
    height: 100%;
    width: var(--split-dimension);
    float: left;

    border-right: var(--border-style);
}

/* .content-list > .right {
    float: left;
    height: 100%;
    width: var(--split-dimension);
} */

/*
 * 
 * Link
 *
 */

 .link-bar > .link {
    width: 100vw;
    display: flex;
    justify-content: space-between;
 }

 .link-bar > .link a {
    font-size: 20px;

    margin-bottom: 3px;
    text-decoration: none;
    color: var(--color-main);
 }

 /*
  * 
  * List 
  * 
  */

 .m-project-list {
    max-height: 55vh;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
 }

.m-project-list div.p-element-m {
    height: 100px;
    background-color: var(--color-second);

    border: var(--border-style);
    border-right: unset;
    margin: 0.3rem 0.3rem 0.3rem 0;
    margin-right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    transition: transform ease 300ms;
}

.dragzone {
    background-color: green;
}